
/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 以上CSS RESET */
/* 全域設定 */
*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: 'jf-openhuninn-1.1';
}
/* body{
    overflow-x: hidden;
} */

/* header */
.logo{
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    padding: 10px;
    background-color: white;
    border-radius: 0 0 30px 0;
    z-index: 10;
}
/* header圖片 */
.logo img{
    width: 100%;
    height: 100%;
}
/* 捲動後header設定 */
.white{
    transition: background 1s;
    background: white;
    height: 100px;
}

.nav-item{
    margin-top: 20px;
    margin-right: 50px;
}
/* 捲動回上層herder設定 */
.navset{
    height: 100px;
    z-index: 99;
    transition: background 1s;
}
/* 三選項設定 */
.nav-menu{
    font-size: 18px;
    font-family: 'jf-openhuninn-1.1';
    color: #8FC31F;
    text-align: center;
    position: relative;
}
/* 三選項hover設定 */
.nav-menu:hover{
    background: white;
    color: #8FC31F;
    border-radius: 50px
}
/* 三選項小球偽元素 */
.nav-menu::before{
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
    width: 8px;
    height: 8px;
    margin: 0 auto;
    border-radius: 50%;
    background: #8FC31F;
    content: "";
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.18, 0.65, 0.08, 1.01);
}
/* 三選項小球偽元素hover */
.nav-menu:hover::before{
    top: -20%;
    opacity: 1;
    transition: all 0.8s cubic-bezier(0.18, 0.65, 0.08, 1.01);
}

p{
    color: #8FC31F;
    font-family: 'jf-openhuninn-1.1';
}
/* RWD設定 */
.showmenu{
    display: none;
}

/* @media(max-width: 767px){
    .logo{
        position: fixed;
        top: 0;
        width: 100%;
        height: 200px;
        padding: 10px;
        background-color: white;
        border-radius: 0 0 30px 0;
        z-index: 10;
    }
    .nav{
        max-height: 0px;
        overflow: hidden;
        position: absolute;
        z-index: 100;
        left: 0;
        right: 0;
        background: white;
    }
    .nav-item{
        float: none;
    }
    .showmenu{
        display: block;
        float: right;
        margin: 1em;
        z-index: 11;
        margin-top: 205px;
    }
    .menu-show .nav{
        max-height: 500px;
    }
} */
/* // */
.board {
    /* background-color:lightgray; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-basis: auto;
}

/* 表單外框(調整) */
.draw {
    display: flex;
    width: 70vh;
    height:400px;
    /* background-color: blue; */
    flex-direction: column;

    }
/* 表單外框end */


/* 切換登入/註冊 */

.change {
    display: flex;
    width: 100%;
    height: 100%;
    /* color: #8FC31F; */
}

.left {
    cursor: pointer;
    width: 50%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    border:  1px solid #8FC31F ;
    border-bottom-style: none;
    /* color: #8FC31F; */
}

.right {
    cursor: pointer;
    width: 50%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid #8FC31F ;
    /* background-color: #CFCFCF; */
    /* color: #8FC31F; */

}

/* 切換登入/註冊end */

/* 登入form1 */

.inPut {
    width: 100%;
    height: 100%;
    border:  1px solid #8FC31F ;
    color: #8FC31F;
    padding: 50px;
    border-radius: 0px 0px 10px 10px;
    border-top-style: none;
    
}

/* 輸入帳密 */
.account input {
    width: 100%;
}
.account div{
    padding: 5px;
}

/* .password {
    margin-top: 20px;
}

.password input {
    width: 100%;
    
} */

.robot {    
    display: flex;
    /* flex-direction: row-reverse; */
    margin-top: 20px;
    width: 30%;
    height: 80px;
    /* background-color: gray; */
}

.chose {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    
}

/* form-end */

/* 註冊 2form */
.inPut2 {
    width: 100%;
    height: 100%;
    padding: 30px;
    display: none;
    border-radius: 0px 0px 10px 10px;
    color:#8FC31F;
    border:  1px solid #8FC31F;
}

.signIn {
    /* width: 100%; */
    height: 100%;
}
.signIn div{
    padding: 5px;
}

.signIn div input {
    width: 100%;
}

/* 註冊 form End */


/* 按鈕Star */
.comfirm {
    border: 0;
    border-radius: 5px;
    width: 100px;
    height: 45px;
    color: white;
    background-color: #8FC31F;
    transition-duration: 0.5s;
}

.comfirm:hover {
    background-color: white;
    color: #8FC31F;
    border: 1px solid #8FC31F;
}

.cancel {
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    width: 100px;
    height: 45px;
    color: white;
    background-color: #8FC31F;
    transition-duration: 0.5s;
}

.cancel:hover {
    background-color: white;
    /* color: gray; */
    border: 1px solid #8FC31F;
}
/* 按鈕End */
